.*{
	box-sizing:box-content;
}
.menu{
	background-color: #BA55D3;
	display: block;
	width: 900px;
	padding-right: 0;
	border: 1px solid black;
	clear: both;
	
}

a{
	/*width: 129px;*/
	font-weight: normal;
	color:white;
	font-size: 18px;
	font-family:Impact;
	text-align: center;
	clear: both;
	text-decoration: none;
}

.menu_item{
	float: left;
	display: block;
	background-color: rgb(166,77,255);
	margin-right: -5px;
	text-align: center;
	padding: 10px;
	width: 128.57px;
}


.menu_item:hover{
	background-color: rgb(238,238,238);
	color: rgb(201,180,161);
}
